
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.RadioButtonLabel {
    display: inline-block;
    margin: auto 0;
    color: #6D6D6D;
    font-size: 96%;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
    padding-right: 24px;
}

.RadioButtonLabel:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #8CA2C2;
    border-radius: 100%;
    background: #fff;
}

.RadioButtonLabel:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #8CA2C2;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + .RadioButtonLabel:after {
    opacity: 0;
    transform: scale(0);
}

[type="radio"]:checked + .RadioButtonLabel:after {
    opacity: 1;
    transform: scale(1);
}

@media only screen and (max-width: 480px) {
    .RadioButtonLabel {
        margin-top: 10px;
    }
}